name: Release DWM Binary

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get upgrade -y
          sudo apt-get install -y libconfig-dev libdbus-1-dev libegl-dev libev-dev libgl-dev libepoxy-dev libpcre2-dev libpixman-1-dev libx11-xcb-dev libxcb1-dev libxcb-composite0-dev libxcb-damage0-dev libxcb-dpms0-dev libxcb-glx0-dev libxcb-image0-dev libxcb-present-dev libxcb-randr0-dev libxcb-render0-dev libxcb-render-util0-dev libxcb-shape0-dev libxcb-util-dev libxcb-xfixes0-dev libxext-dev meson ninja-build uthash-dev cmake libxft-dev libimlib2-dev libxinerama-dev libxcb-res0-dev alsa-utils libxrandr-dev


      - name: Install GitHub CLI
        run: |
          sudo apt-get install -y gh

      - name: Authenticate GitHub CLI
        run: |
          echo "${{ secrets.DWM_TOKEN }}" | gh auth login --with-token

      - name: Build and Release
        run: |
          VERSION="${{ github.ref_name }}"
          VERSION_CLEAN=$(echo $VERSION | sed 's/^v//')
          make clean
          make release VERSION=$VERSION_CLEAN

      - name: Create release
        id: create_release
        run: |
          VERSION="${{ github.ref_name }}"
          VERSION_CLEAN=$(echo $VERSION | sed 's/^v//')
          changelog=$(git log --oneline --pretty=format:"* %s (%h)" | head -n 20)
          echo "Changelog: $changelog" > release/changelog.txt

          gh release create "$VERSION" release/dwm-$VERSION_CLEAN.tar.gz release/changelog.txt --title "Release $VERSION" --notes "$changelog"

      - name: Clean up
        run: |
          VERSION="${{ github.ref_name }}"
          VERSION_CLEAN=$(echo $VERSION | sed 's/^v//')
          rm -f release/dwm-$VERSION_CLEAN.tar.gz
